{% extends 'layout.html.twig' %}

{% block main %}
    <h2>Que souhaiteriez-vous absolument faire avant de mourir ?</h2>
    <p>Nous nous sommes tous posés au moins une fois cette question : qu'est-ce que je veux faire au moins <strong>une fois</strong> dans ma vie avant de mourir ? Ce site existe pour vous donner des idées !</p>
    <p>N'hésitez pas, servez-vous, rajoutez vos propres idées ! Pour ceci rien de plus simple, rejoignez-nous (lien en haut de la page) !</p>
{% endblock %}