{% extends 'layout.html.twig' %}

{% block main %}
    <h2>{{ idea.title}}</h2>
<div>{{ idea.description }}</div>
    <div>{{ idea.author }}</div>
    <div>{{ idea.createdAt |date("m/d/Y", "Europe/Paris") }}</div>
{% endblock %}