{% extends 'layout.html.twig' %}

{% block main %}
    <h1>Voici la liste des idées que vous nous avez proposées.</h1>
    <h2>N'hésitez pas, servez-vous, rajoutez vos propres idées !</h2>
    <p>Pour voir la description de l'idée proposée, cliquez dessus !</p>
    {% for idea in ideas %}
        <div class="idea">
            <a href="{{ path('idea_detail',{'id' : idea.id}) }}"> <br> {{ idea.title }} </a><br>Proposé par {{ idea.author }} <br> Publié le {{ idea.createdAt() | date("d/m/Y") }}
            <hr>
        </div>
        <br>
    {% endfor %}
{% endblock %}